@import "variable";

@media (max-width: 1600px) {
    .banner-caption {
        h2 {
            font-size: 3.5em !important;
        }
    }
}

@media (max-width: 1500px) {
    .banner-caption {
        p {
            font-size: 1em !important;
            margin-right: 40px;
        }
    }
}

@media (max-width: 1400px) {
    .banner-caption {
        h2 {
            font-size: 3em !important;
        }

        p {
            font-size: 1em !important;
            margin-right: 40px;
        }
    }

    .form-style {
        width: calc(100% - 40px);
    }
}

@media (max-width: 1260px) {
    .banner-caption {
        h2 {
            font-size: 2em !important;
        }

        p {
            font-size: .85em !important;
            margin-right: 40px;
        }
    }

    #home-quote {
        .quote-title {
            font-size: 1.1em;
        }
    }

    .product-wrap {
        .product-detail {
            .product-btn {

                .add-cart-alt2-btn,
                .wishlist-btn {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    .banner-caption {
        h2 {
            font-size: 1.45em !important;
        }

        p {
            margin-top: 5px;
            font-size: .75em !important;
            margin-right: 0;
        }

        .mt-5 {
            margin-top: 2rem !important;
        }
    }

    .sub-banner-caption {
        h2 {
            &.heading-article {
                font-size: 2em !important;
            }
        }
    }

    .rating {
        .fa-star {
            font-size: 1.15em;
        }
    }

    .privacy-policy {
        bottom: 0px;
        left: 0px;
        width: 100%;
        grid-template-columns: 55% auto;

        p {
            font-size: 0.85em;
        }
    }

    #home-quote {
        .quote-title {
            font-size: .85em;
        }
    }

    .form-style {
        width: calc(100% - 60px);
    }

    .nav-link {
        font-size: .85em !important;
        padding: 0.5rem .65rem;
    }

    .owl-product-prev,
    .owl-product-next,
    .owl-reco-title-prev,
    .owl-reco-title-next,
    .owl-item-sale-prev,
    .owl-item-sale-next {
        font-size: 1.1em !important;
    }
}

@media (max-width: 1199px) {
    #home-subscribe {
        .form-style-alt {
            .input-group {
                flex-direction: column;

                .form-wrap {
                    margin-bottom: 15px;

                    &:first-child {
                        .form-control {
                            border-right-color: transparent;
                        }
                    }

                    .form-control {
                        border-radius: 0.25rem !important;
                    }
                }
            }

            .subscribe-btn {
                margin: auto;
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }
        }
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #cart-wrapper {
        .summary-wrap {
            .cart-btn {
                .btn {
                    font-size: .65em;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }

    #checkout-wrapper {
        .checkout-subtitle {
            font-size: .8em;
        }
    }
}

@media (max-width: 1100px) {
    .form-style {
        width: calc(100% - 80px);
    }
}

@media (max-width: 992px) {
    .sub-banner-caption {
        h2 {
            &.heading-article {
                font-size: 1.5em !important;
            }
        }
    }

    .team-member {
        margin-bottom: 3rem;
    }

    #home-welcome img {
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
        display: block;
    }

    .privacy-policy {
        bottom: 0px;
        left: 0px;
        width: 100%;
        grid-template-columns: 55% auto;

        p,
        a {
            font-size: 0.85em;
        }

        .default-btn,
        .primary-btn {
            padding: 10px 25px;
        }
    }
}

@media (max-width: 991px) {
    .row-article {
        flex-direction: column-reverse !important;

        &>div:first-child {
            margin-top: 40px;
        }
    }

    .banner-caption {
        h2 {
            font-size: 1.15em !important;
        }

        p {
            margin-top: 5px;
            font-size: .65em !important;
            margin-right: 10px;
        }

        .mt-5 {
            margin-top: .5rem !important;
            font-size: .85em !important;
            padding: 7px 20px;
        }
    }

    .listing-filter-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: white;
        height: 100%;
        width: 280px;
        font-size: 16px;
        box-shadow: 0 1px 12px rgba(136, 136, 136, 0.22);
        padding: 20px 25px;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transform: translateX(-110%);
        opacity: 0;
        visibility: hidden;
        will-change: opacity, transform;
        transition: 0.32s all cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &.active {
            transform: translateX(0%);
            opacity: 1;
            visibility: visible;
        }

        .gap-70 {
            height: 50px;
        }
    }

    .filter-product {
        .btn-group {
            flex-direction: column;

            .filter-item-count {
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 13px;
            }
        }
    }

    .form-style {
        width: 100%;
        margin: 0 auto;
    }

    #home-quote {
        text-align: center !important;

        .quote-title {
            font-size: 1.2em;
        }

        .secondary-btn {
            float: none;
            margin: auto;
            margin-top: 30px;
        }
    }

    .category-nav-1 {
        width: 60% !important;
    }

    .product-wrap {
        .product-detail {
            margin-top: 30px;
        }
    }

    .product-additional {
        margin-top: 40px;
    }

    #checkout-wrapper {
        .checkout-info {
            .row {
                flex-direction: column-reverse;
            }

            .checkout-content {
                padding: 30px 20px;

                .customer-info {
                    td {
                        &:first-child {
                            padding-right: 20px;
                        }
                    }
                }
            }

            .checkout-process {
                min-height: 100%;
            }
        }
    }

    .r-tabs {
        .r-tabs-panel {
            border-bottom: 1px solid #dfe2e5;
        }
    }

    .post-footer {
        padding-bottom: calc(2rem + 52px);
    }

    .article-row {
        flex-direction: column-reverse;

        .article-opt {
            margin-top: 60px;
        }
    }

    .default-row {
        .article-content {
            margin-top: 60px;
        }
    }

    #login-wrapper,
    #signup-wrapper {
        .new-account {
            text-align: left;
        }
    }

    #wizard1 {
        ul[role='tablist'] {
            li {
                a {
                    .title {
                        display: none;
                    }
                }
            }

            .current {
                a {
                    .title {
                        display: inline-block !important;
                    }
                }
            }
        }
    }

    #cart-wrapper .container > .row > div:last-child {
        margin-top: 60px;
    }
	.banner-image {height:4.3em;}
	.e-options {font-size: 0;line-height: 0;padding-right: 5px;width:6rem;
		li {display: inline-block !important;padding: 0 6px;font-size: 14px;line-height: 1.3;}
		a {color: white;font-weight:400 !important;
			&:hover {color: var(--first-color);}
		}
		span {display:none;}
	}
	/*.cart-table-col {padding: .5rem;flex: 0 0 21% !important;max-width: 21% !important;border:thin solid black;}
	.cart-table-col-2 {padding: .5rem;flex: 0 0 29% !important;max-width: 29% !important;border:thin solid #f00;}*/
		 
}

@media (max-width: 768px) {

    .banner-overlay {
        display: none !important;
    }

    .sub-banner-overlay {
        display: none !important;
    }

    .banner-caption {
        display: none !important;
    }

    .sub-banner-caption {
        background: transparent;
        display: block !important;
        position: relative;
        padding: 4rem 1rem 1rem;

        h2 {
            font-size: 1.85em;
            color: $first-color;

            &.heading-article {
                width: 80%;
                text-align: center;
            }
        }

        .sub-banner-flex {
            flex-direction: column;
        }
    }

    .breadcrumb {
        margin-top: 10px;
        color: $second-color;
        
        a {
            color: $second-color;
            
            &:hover {
                border-color: $second-color !important;
            }
        }

        .fa {
            &.default {
                background: $second-color;
            }
        }
    }

    .dropdown-filter-btn {
        font-size: .65em;
    }

    #home-body {
        padding: 50px 1rem;

        .category-title {
            font-size: .85em !important;
            letter-spacing: .5px;
            font-weight: 700;

            &:first-of-type {
                margin-bottom: 70px !important;
            }
        }
    }

    .category-nav-1 {
        flex-direction: column-reverse;
        background: transparent !important;
        width: 100% !important;
        margin-bottom: -90px;
        float: none;

        .nav {
            margin-top: 20px;
        }
    }

    .category-nav-2 {
        margin-top: -8px !important;
    }

    .owl-product-nav {
        margin-left: auto;
        background: white;
        padding-left: 5px;
    }

    .owl-product-prev,
    .owl-product-next,
    .owl-reco-title-prev,
    .owl-reco-title-next,
    .owl-item-sale-prev,
    .owl-item-sale-next {
        font-size: 1em !important;
        padding: 5px 11px;
        margin: 0 1px;
    }

    .product-wrap {
        .product-detail {
            h2 {
                margin-top: 5px;
                font-size: 1.25em;
            }
        }
    }

    .product-additional {
        .nav {
            flex-wrap: initial;

            .nav-item {
                .nav-link {
                    height: 100%;
                }
            }
        }
    }

    #home-quote {
        padding: 4rem 1rem;
    }

    #home-payment {
        padding: 50px 1rem;
    }

    #listing-wrapper {
        padding: 50px 1rem;
    }

    #product-wrapper {
        padding: 50px 1rem;
    }

    #cart-wrapper {
        padding: 50px 1rem;
    }

    #checkout-wrapper {
        padding: 50px 1rem;
    }

    .news-post {
        grid-template-columns: 100%;

        &-img {
            margin-right: 0;
            height: 300px;

            img {
                margin: 0;
                padding: 0;
                padding-bottom: 1em;
            }
        }

        &-info {
            padding: 1em 0;
            margin-left: 0;

            &-excerpt {
                max-height: 100%;
            }
        }
    }

    #res-tabs-account {
        display: block;

        .r-tabs-panel {
            border-bottom: 1px solid #DFE2E5;
        }
    }
}

@media (max-width: 767px) {
    #cart-wrapper {
        .cart-wrap {
            .item {
                padding-bottom: 50px;

                .img-wrap {
                    width: 130px;
                }

                .info-wrap {
                    margin-top: 20px;

                    .cart-description {
                        .cart-product-title {
                            margin-right: 0;
                        }
                    }

                    .cart-info {
                        .cart-product-price {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }

        .container {
            &>.row {
                &>div:last-child {
                    margin-top: 60px;
                }
            }
        }
    }

    #login-wrapper,
    #signup-wrapper {
        .txt-alt {
            text-align: center !important;
        }
    }

    #testimonial-slider {
        .testimonial-card {
            .testimonial-quote {
                blockquote {
                    padding-left: 60px;
                    padding-right: 60px;

                    &:before {
                        top: 70px;
                        font-size: 20px;
                    }

                    q {
                        text-align: center;
                    }
                }
            }

            .testimonial-author {
                padding-bottom: 90px;

                cite {
                    text-align: center;
                    display: block;
                    float: none;

                }
            }
        }

        .slick-prev {
            top: 93%;
            left: 30%;
            right: unset;
        }

        .slick-next {
            top: 93%;
            right: 30%;
        }
    }
}

@media (max-width: 640px) {
    .privacy-policy {
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 1.2em;
        grid-template-columns: 50% auto;

        p,
        a {
            font-size: 0.8em !important;
            line-height: 1.5;
        }

        .default-btn,
        .primary-btn {
            padding: 8px 25px;
            width: 100%;
            display: block;
            text-align: center;
            margin: 0.5em 0;
        }

        &-btn {
            padding-left: 1em;

            .default-btn {
                margin-left: 0px;
            }
        }
    }
}

@media (max-width: 560px) {
    .product-wrap {
        .product-detail {
            .product-btn {

                .add-cart-alt2-btn,
                .wishlist-btn {
                    font-size: .75em;
                }
            }
        }
    }

    .article-meta-share {
        flex-direction: column;

        .article-meta {
            margin-bottom: .5em;
            width: 100%;
        }

        .article-share {
            width: 100%;
        }
    }

    #wizard1 {
        ul[role='tablist'] {
            padding: 10px 20px;

            li {
                display: block;
                margin-left: 0;

                &:before {
                    display: none;
                }

                a {
                    justify-content: flex-start;
                    padding: 10px 0;

                    .title {
                        display: inline-block !important;
                    }
                }
            }

            .current {
                a {
                    .title {
                        display: inline-block !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .product-additional {
        .nav {
            .nav-item {
                .nav-link {
                    padding: 15px;
                    font-size: .7em !important;
                }
            }
        }
    }

    .product-wrap {
        .product-detail {
            .product-btn {
                .add-cart-alt2-btn {
                    margin-right: 10px;
                }

                .add-cart-alt2-btn,
                .buy-now-btn {
                    img {
                        height: 20px !important;
                    }
                }

                .product-wishlist {
                    padding-top: 20px;

                    svg {
                        width: 40px;
                    }
                }
            }
        }
    }
	.input-group {width:60% !important;}
	.quantity-listing {width: 8em !important;}
	.shopping-cart-quantity {width:12.5em;}
}

@media (max-width: 400px) {
	.list-product .product-card .product-title {height:5em;}
	//.product-title {font-size:.6rem !important;line-height:15px !important;}
	//.product-price {font-size:.6rem !important;}
    .product-wrap {
        .product-detail {
            .product-btn {

                .add-cart-alt2-btn,
                .wishlist-btn {
                    font-size: .65em;

                    img {
                        height: 18px !important;
                    }
                }

                .product-wishlist {
                    padding-top: 20px;

                    svg {
                        width: 40px;
                    }
                }
            }
        }
    }
	.banner-image {height:2em;}
}

@media (max-width: 320px) {
	.list-product .product-card .product-title {height:6.5em;}
	.quantity-listing {width: 5.9em;}
	.listing-bottom {display:grid;grid-template-columns:100%;
		div:nth-child(2) {text-align:left;margin-top:6px;background:#28a745;color:white;}
		div:nth-child(2) a {width:100%;position:relative;}
		div:nth-child(2) a :after {content:"Add to cart";font-size:.8em;font-family: "Lato", sans-serif;position:absolute;right:1em;}
	}
	.rd-navbar-fixed .rd-navbar-verbiage {padding-top:0;text-align:left;padding-left:10px;}
	.out-stock {margin-bottom:2.15rem;}
}